.authBtn{
    cursor: pointer;
	border: none;
	padding: 10px 20px;
	font-size: 1rem;
    background-color: var(--colorButton);
    color: white;
    font-weight: 600;
    &:hover{
        background-color: var(--colorHover);
    }
}