.header{
    color: white;
    background-color: var(--colorSecondary);
    position: fixed;
    top: 0;
    width: 100%;
    .header_wrapper{
        max-width: var(--wrapWidth);
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    a{
        text-decoration: none;
        color: white;
        margin: 0;
        align-self: center;
    }
    h2{
        padding-left: 20px;
        cursor: pointer;
        @media screen and (max-width: 580px){
            font-size: 1.2rem;
        }
    }
    
}
