.header{
    color: white;
    background-color: var(--colorSecondary);
    .header_wrapper{
        max-width: var(--wrapWidth);
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    
}
