.header{
    color: white;
    background-color: var(--colorSecondary);
    .header_wrapper{
        max-width: var(--wrapWidth);
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    a{
        text-decoration: none;
        color: white;
        margin: 0;
        align-self: center;
    }
    
}
