.mainContent{
    background-color: var(--colorMain);
    .wrap_mainContent{
        max-width: var(--wrapWidth);
        text-align: center;
        padding: 250px;
        @media screen and (max-width: 1130px) {
            padding: 250px 20px;
        }
    
    }
    ul{
        list-style-type: none;
        padding: 0;
        .mainContent_online{
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;
            padding-bottom: 50px;
        }
        h3{
            
            color: white;
        }
     
    }
}
