:root{
  --colorMain: #0E0E10;
  --colorSecondary: #18181B;
  --colorButton: #772CE8;
  --colorHover: #6441a5;
  --colorViewer: #ff8280;
  --wrapWidth: 1200px;
}
.wrap{
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
